.book-card {
  height: 640px;
  width: 400px;
  border-radius: 10%;
  background-color: #0f404f;
}

.hr-book-card {
  border: 1px solid #3bc7f2;
}

.book-card-title {
  text-align: center;
  padding: 32px 32px;
  font-size: 20px;
}

.book-card-img {
  padding-top: 8px;
  padding-bottom: 8px;
  height: 96px;
  width: 96px;
}

.book-card-pd-lr {
  padding-left: 24px;
  padding-right: 24px;
}

.price-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart-counter {
  display: flex;
  align-items: center;
  gap: 4px;
}

.like-img {
  height: 40px;
}

.book-info {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 8px;
}

.book-comments {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 8px;
  overflow-wrap: break-word;
}

.break-word {
  overflow-wrap: break-word;
}

@media (max-width: 536px) {
  .book-card {
    height: 480px;
    width: 300px;
  }
}

@media (max-width: 384px) {
  .book-card {
    height: 480px;
    width: 268px;
  }
}
