.book-card {
  height: 640px;
  width: 400px;
  border-radius: 10%;
  background-color: #0f404f;
}

.hr-book-card {
  border: 1px solid #3bc7f2;
}

.book-card-title {
  text-align: center;
  padding: 32px 32px;
  font-size: 20px;
}

.book-card-img {
  padding-top: 8px;
  padding-bottom: 8px;
  height: 96px;
  width: 96px;
}

.book-card-pd-lr {
  padding-left: 24px;
  padding-right: 24px;
}

.price-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart-counter {
  display: flex;
  align-items: center;
  gap: 4px;
}

.like-img {
  height: 40px;
}

.book-info {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 8px;
}

.book-comments {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 120px;
  scrollbar-width: thin;
  scrollbar-color: #3bc7f2 #0f404f;
}

.comment-form {
  display: flex;
}

.comment-input {
  color: white;
  flex-grow: 1;
  background-color: #175f75;
  border: 0px solid;
}

.comment-input:focus {
  outline: none;
}

.comment-input::placeholder {
  color: azure;
  opacity: 1;
}

.comment-send-btn {
  background-color: #0f404f;
  border: none;
}

.comment-send-btn:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px #ffffff);
}

@media (max-width: 536px) {
  .book-card {
    height: 560px;
    width: 360px;
  }
  .book-card-img {
    height: 48px;
    width: 48px;
  }
  .book-card-title {
    text-align: center;
    font-size: 16px;
  }
  .book-info {
    text-align: center;
    font-size: 14px;
  }
  .book-comments {
    font-size: 14px;
    height: 88px;
  }
}

@media (max-width: 384px) {
  .book-card {
    height: 480px;
    width: 268px;
  }
  .book-info {
    text-align: center;
    font-size: 12px;
  }
  .book-comments {
    font-size: 12px;
    height: 24px;
  }
  .price-like {
    font-size: 12px;
  }
  .like-img {
    height: 24px;
  }
}
